<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bling.app"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".app.BlingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_login">
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_register">
        </activity>
        <activity
            android:name=".activity.AddFriendActivity"
            android:label="@string/title_add_friend"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.DistanceActivity"
            android:label="@string/title_back">
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".activity.PositionActivity"
            android:label="@string/title_activity_position">
        </activity>
        <activity android:name=".activity.FriendRequestActivity"
                  android:label="@string/title_back">
        </activity>
    </application>

</manifest>
